Sample images old software/
not_workables.png
Old software itself/
Old software itself.zip
Sample images new software/
__pycache__/
Luiz Senko gig/
output/
myEnv/
__pycache__/
folders_to_add/
dist/
build/
output/
requirements_v2
_002_ Software changes.pdf
germinated_seed_analyzer.zip
resources
*.zip
req_changes
inputs/
results/